APP_PASSWORD=choose_a_strong_password
APP_SECRET=replace_with_openssl_rand_hex_32
APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
APPS_SCRIPT_TOKEN=replace_with_another_random_secret
